<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Student Department</title>
</head>
<body>
<div align="center">
	<h1>Department List</h1>
<table border="1" cellpadding="10">
<thead>
<tr>
<th>id</th>
<th>Name</th>
<th>E-Mail</th>
<th>Address</th>
<th>Department</th>

</tr>
</thead>
<tbody>
<tr th:each="student: ${department}">
<td th:text="${student.id}">id</td>
<td th:text="${student.name}">name</td>
<td th:text="${student.email}">id</td>
<td th:text="${student.address}">id</td>
<td th:text="${student.department}">id</td>

</tr>

</tbody>

</table>
      </div>
</body>
</html>